@model User

@{
    ViewData["Title"] = "Change Password";
}


    <header>
        <nav class="navbar ">
            <div class="logo">
                <img src="~/images/RecipeLogo.jpg" />
            </div>
            <div class="links">
                <a class="bts" asp-area="" asp-controller="User" asp-action="Index">Home page</a>

                <a class="bts" asp-area="" asp-controller="Recipes" asp-action="RecipesList">Recipes List</a>

                <a class="bts" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>

            </div>

        </nav>
    </header>
    <div class="container">
        <form class="loginf" asp-controller="User" asp-action="Change" method="Post">
            <label for="Password">Enter your new password</label>
            <input name="Password" type="password" id="Password" />
            <input type="submit" class="ss" />
        </form>


    </div>

    