@model User
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" asp-controller="User" method="post" class="loginf">
    <h1 class="ww">Log in </h1>
    <div class="data">
        <input asp-for="UserId" type="hidden" />

        <label asp-for="Name" class="labeld">User Name</label>
        <br />
        <input type="text" asp-for="Name"/>
    </div>
    <div class="data">
        <label asp-for="Password" class="labeld">Password</label>
        <br />
        <input asp-for="Password" type="password"  />
    </div>
    <h3>If you don't have an account <a asp-controller="User" asp-action="Signup">Sign up</a></h3>

    <button type="submit" class="ss">Log In</button>

</form>

